@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom component classes */
@layer components {
  .menu-toggle-bar {
    @apply block w-5 h-0.5 rounded-full absolute top-[18px] right-[7px] transition-all duration-500;
  }

  .menu-toggle-bar:first-child {
    @apply -translate-y-1.5;
  }

  .menu-toggle.active .menu-toggle-bar {
    @apply rotate-45;
  }

  .menu-toggle.active .menu-toggle-bar:first-child {
    @apply -rotate-45 translate-y-0;
  }
}

/* Custom styles for mobile menu animation */
header.menu-wrapper {
  transition: height 0.5s;
}
